.xAxis path,
.xAxis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.xAxis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  cursor: pointer;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  cursor: default;
}

#tree-container { /* or whatever div wraps your #tree-svg */
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enables scrollbars when SVG gets bigger than div */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: steelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    box-shadow: 0px 0px 5px #aaa;
}

.tree-wrapper {
    flex: 1 1 30.333%; /* grow | shrink | basis */
}

@media (min-width: 1024px) {
    .tree-wrapper {
    max-width: 100%; /* Allows it to grow, but keeps the 1/3 base */
    }
}