---
import MainLayout from '../../../layouts/MainLayout.astro';
import sql from '../../../lib/db.js';

const genealogy_names = await sql`
SELECT 
    id,
    name
FROM sources;
`;
---

<MainLayout title="Genealogy Project">
    <body>
        <select id="genealogy-select" class="select select-bordered w-full max-w-xs">
        <option disabled selected>Pick a Family Tree</option>
            {genealogy_names.map((g) => (
                <option value={g.id}>{g.name}</option>
            ))}
        </select>
        
        <div id="container" class="chart-container flex justify-center">
            <svg id="tree-svg"></svg>
        </div>

        <script src="../../../scripts/genealogy.js"></script>
    </body>
</MainLayout>