---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Genealogy Project">
    <body>
        <h2 class="text-5xl">Adam to Noah</h2>
        <div class="chart-container flex justify-center">
            <svg id="tree-svg"></svg>
        </div>
        <script src="./_genealogy.js"></script>
    </body>
</MainLayout>