---
// src/components/Header.astro
---
<div class="navbar bg-base-100 shadow-md sticky top-0 z-50">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">BibleTools</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/projects/genealogy">Genealogy</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>